/*
=============== 
Variables
===============
*/

:root {
  --color-background: #1E1E1E;
  --color-header-link: #EDB935;
  --color-subheader: #14E162;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #FFFFFF80;

  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

h1 {color:var(--color-header-link)}


body {
  background-color: #282c34 !important;
  margin: 0;
}

.container {
  min-height: 100vh; /* set the container height to full viewport */
  display: flex;
  flex-wrap: wrap;
  overflow: visible !important;
}

.sidebar {
  width: 33%;
  /* other sidebar styles... */
}

main {
  margin-left: 33%;
  width: calc(100% - 33%);
  /* other main content styles... */
  overflow: visible !important;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%; /* reset sidebars width on small screens */
    /* position: fixed !important; */
  }
  main {
    margin-top: 100vh;
    margin-left: 0;
    width: 100%;
    /* other main content styles for small screens... */
    height: 1000px; /* set a fixed height for the main content */
    overflow-y: scroll; /* add a scrollbar when the content overflows */
  }
}
